/* Landing Page */

.header-color {
  background: #4568dc; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    #b06ab3,
    #4568dc
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    #b06ab3,
    #4568dc
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.landing-grid {
  background: #4568dc; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    #b06ab3,
    #4568dc
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    #b06ab3,
    #4568dc
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.avatar-img {
  height: 250px;
  margin-top: 5em;
  border-radius: 50%;
}
.avatar-img-contact {
  height: 250px;
  border-radius: 50%;
}

.banner-text {
  background-color: black;
  opacity: 0.8;
  width: 75%;
  margin: auto;
  border-radius: 10px;
}

.banner-text h1 {
  font-size: 66px;
  font-weight: bold;
  color: white;
}

.banner-text hr {
  border-top: 5px dotted white;
  width: 50%;
  margin: auto;
}

.banner-text p {
  color: white;
  font-size: 20px;
  padding: 1em;
}

.social-links {
  display: flex;
  justify-content: space-evenly;
  width: 30%;
  margin: auto;
}

.social-links i {
  color: white;
  font-size: 5em;
  padding: 8px;
}

@media (max-width: 750px) {
  .banner-text h1 {
    font-size: 33px;
    font-weight: bold;
    color: white;
  }
  .social-links {
    display: flex;
    justify-content: space-evenly;
    width: 50%;
    margin: auto;
  }

  .social-links i {
    color: white;
    font-size: 4em;
    padding: 8px;
  }
  .banner-text hr {
    border-top: 5px dotted white;
    width: 50%;
    margin: auto;
  }

  .banner-text p {
    color: white;
    font-size: 15px;
    padding: 1em;
  }
  .avatar-img {
    height: 200px;
    margin-top: 5em;
    border-radius: 50%;
  }
}

@media (max-height: 600px) {
  .banner-text h1 {
    font-size: 25px;
    font-weight: bold;
    color: white;
  }
  .social-links {
    display: flex;
    justify-content: space-evenly;
    width: 50%;
    margin: auto;
  }

  .social-links i {
    color: white;
    font-size: 3em;
    padding: 8px;
  }
  .banner-text hr {
    border-top: 5px dotted white;
    width: 50%;
    margin: auto;
  }

  .banner-text p {
    color: white;
    font-size: 13px;
    padding: 1em;
  }
  .avatar-img {
    height: 200px;
    margin-top: 5em;
    border-radius: 50%;
  }
}
/* End of Landing Page */

/* Projects Page */

.projects-grid {
  display: flex;
  flex-wrap: wrap;
}
.projects-card {
  float: left;
  margin: 10px;
}

/* End of Projects Page */

/* contacts page */

.contact-body {
  margin: auto;
  position: fixed;
  width: 100%;
  height: 100%;
  justify-content: center;
  padding-top: 2em;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
.contact-grid {
  text-align: center;
  justify-content: center;
  width: 80%;
  color: black;
  background: white;
  margin-bottom: 20px;
}
.contact-grid h2 {
  font-family: "Anton", sans-serif;
}
.contact-grid p {
  font-family: "Oxygen", sans-serif;
  font-weight: bold;
}

.contact-grid hr {
  border-top: 5px dotted black;
  width: 50%;
  margin: auto;
}

.contact-list i {
  padding-right: 5rem;
  font-size: 66px;
}
.contact-list {
  font-size: 30px;
  font-family: "Anton";
}

@media (max-width: 1300px) {
  .contact-list i {
    display: flex;
    flex-wrap: wrap;
    padding-right: 5rem;
    font-size: 33px;
  }
  .contact-list {
    font-size: 20px;
    font-family: "Anton";
  }
  .contact-grid p {
    font-family: "Oxygen", sans-serif;
    font-weight: bold;
    font-size: 11px;
  }
}

@media (max-width: 350px) {
  .contact-list i {
    display: flex;
    flex-wrap: wrap;
    padding-right: 5rem;
    font-size: 33px;
  }
  .contact-list {
    font-size: 15px;
    font-family: "Anton";
  }
}
/* End of Contact Page */

/* Resume Page old*/

.resume-body {
  margin: auto;
  position: fixed;
  width: 100%;
  height: 100%;
  justify-content: center;
  padding-top: 3em;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
.resume-grid {
  background: white;
  height: auto;
  width: 80%;
  box-shadow: 0px 5px 10px;
}
.resume-name {
  display: flex;
  justify-content: center;
}
.resume-name h1 {
  color: grey;
}
/*End of Resume Page old*/

/* Resume Page new */

.resume-right-col {
  /*background: rgb(182, 121, 194);*/
  box-shadow: #b06ab3 0px 0px 0px 1px;
  color: black;
  padding: 2em;
}
